# Ignore dependencies
server/node_modules/

# Ignore environment variables
server/.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Environment files anywhere
.env
.env.*